$background_color: #232323;
$primary_color:#F62C84;
$secondary_color:#8a3eff;
$cards:#181818;
$card_atc:#303030;
$success:#28c76f;
$warrning:#FFC107;
$danger:#ea5455;
$white:#fff;
$black:#000;
$line:linear-gradient(90deg, $card_atc 0%, $white 50%, $card_atc 100%);
$RGBA_06: rgba(0, 0, 0, 0.6);
$RGBA_05: rgba(0, 0, 0, 0.5);
$RGBA_04: rgba(0, 0, 0, 0.4);
$RGBA_03: rgba(0, 0, 0, 0.3);
$RGBA_02: rgba(0, 0, 0, 0.2);
$RGBA_01: rgba(0, 0, 0, 0.1);
$BoxShadow_5_10: 0 5px 10px;
$BoxShadow_2_4: 0 2px 4px;
$BoxShadow_2_6: 0 2px 6px;
$BoxShadow_6_12: 0 6px 12px;
$BoxShadow_04: 0 0 3px;
$BoxShadow_03: 0 0 3px;
$BoxShadow_02: 0 0 2px;
$BoxShadow_01: 0 0 1px;
$CubicBerier: cubic-bezier(0.46, 0.03, 0.52, 0.96);
$CardsTransition_1: 1s $CubicBerier;
$CardsTransition_06: 0.6s $CubicBerier;
$CardsTransition_05: 0.5s $CubicBerier;
$CardsTransition_04: 0.4s $CubicBerier;
$CardsTransition_03: 0.3s $CubicBerier;
$CardsTransition_02: 0.2s $CubicBerier;
$CardsTransition_01: 0.1s $CubicBerier;

%AllImagesContain {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

%AllImagesCover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

%WidthHeight {
    height: 100%;
    width: 100%;
}

%DisplayFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

%DisplayFlexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}